
h1, h2, h3, h4, h5, h6 {
    color: unset;
}

h1,
.h1-heading {
    font-size: 36px !important;
    font-weight: 500 !important;
    line-height: 110% !important;
    font-family: 'Playfair Display', sans-serif !important;

    &.app {
        font-size: 26px !important;
        font-weight: 500 !important;
        line-height: 110% !important;
    }  
}

h2,
.h2-heading {
    font-size: 28px !important; 
    font-weight: 500 !important;
    line-height: 105% !important;
    font-family: 'Playfair Display', sans-serif !important;

     &.app {
        font-size: 22px !important;
        font-weight: 500 !important;
        line-height: 115% !important; 
    }


    &.blog {
        font-size: 27px !important;
        font-weight: 500 !important;
        line-height: 125% !important;
    }
}

h3,
.h3-heading {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 115% !important;
    font-family: 'Playfair Display', sans-serif !important;

     &.app {
         font-size: 18px !important;
        font-weight: 500 !important;
        line-height: 110% !important;
    }

    &.blog {
        font-size: 24px !important;
        font-weight: 600 !important;
        line-height: 125% !important;
    }
}

h4,
.h4-heading {
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 125% !important;
    font-family: 'Playfair Display', sans-serif !important;
}

h5,
.h5-heading {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 115% !important;
    font-family: 'Playfair Display', sans-serif !important;
}

h6,
.h6-heading {
    font-size: 16px !important; 
    font-weight: 500 !important;
    line-height: 130% !important; 
    font-family: 'Playfair Display', sans-serif !important;
}



p {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 165% !important;
    font-family: 'Playfair Display', sans-serif !important;


    &.large  {
        font-size: 16px !important;
        line-height: 140% !important;
    }

    &.small, 
    &.copywrite  {
        font-size: 13px !important;
        line-height: 115% !important;
    }

    &.tableHeader {
        color: var(--Black) !important;
        text-align: center !important;
        font-size: 14px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 110% !important;
        margin-bottom: 0 !important;
    }

     &.tableData {
        margin-bottom: 0 !important;
        color: var(--Dark-Grey, #595959) !important;
        text-align: center !important;
        font-family: Playfair Display !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 120% !important; 
    }
}


@media (min-width: 992px) {
    h1,
    .h1-heading {
        font-size: 42px !important;
        font-weight: 600 !important; 
        line-height: 115% !important;


        &.index {
            font-size: 62px !important;
            line-height: 105% !important;
        }
    }

    h2,
    .h2-heading {
        font-size: 34px !important; 
        line-height: 110% !important; 
    }

    h3,
    .h3-heading {
        font-size: 27px !important;
        line-height: 125% !important;
    }
}