{{ define "main" }}


<section id="initials-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 text-center">
        <div>
          <span class="initials">IM</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="hero-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1>Isabella Monica</h1>
        <p>Fiction Writer | BA, University of Hawaii at Manoa</p>
      </div>
    </div>
  </div>
</section>

<section id="about-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>About</h2>
        <p>Born and raised in Northern California, Isabella Monica writes romance, upmarket fiction, literary fiction, and poetry. After many rigorous workshops, she graduated from the University of Hawaiʻi at Mānoa with a Bachelor of Arts in English before working as a copyeditor.</p>
        <p>If you’re drawn to stories rooted in subliminal romance, desperate, visionary endings, and giggles over underscored societal themes, you’re in the right place. </p>
      </div>
    </div>
  </div>
</section>

<section id="projects-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>Selected Writing</h2>
        <p class="mb-0"><a href="https://www.canva.com/design/DAGa45DaUVA/b39yofbyMYGN-AV9PnktrQ/view?utm_content=DAGa45DaUVA&utm_campaign=share_your_design&utm_medium=link2&utm_source=shareyourdesignpanel%2355#55" target="_blank" rel="noopener noreferrer" class="primary-link">"Nasa Here We Come"</a></p>
        <p>Anuenue Review - 2025</p>
      </div>
    </div>
  </div>
</section>

{{ end }}
