{{ define "main" }}
<section id="hero-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1>Contact</h1>
        <h6>Get in touch</h6>
        <p class="mt-3 mb-0">Email: <a href="mailto:isabella@isabellamonica.com" class="primary-link">isabella@isabellamonica.com</a></p>
        <p>Instagram: <a href="https://www.instagram.com/isabella.monicaa/" target="_blank" class="primary-link">isabella.monicaa</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}
