{{ define "main" }}
<section id="hero-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1>Debut Upmarket Fiction Novel (In Progress)</h1>
        <h6>Status - Querying</h6>
        <p>A nostalgic romance told over a nonlinear course of recollection, innate to describing a first love, with a battle against a personified Silence at its core.</p>

        <a class="primary-link" href="https://harlowblack.com/?utm_source=chatgpt.com#about" target="_blank">Notify Me</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
